
<!DOCTYPE html>
    <html>
    <head>
        <title> Louis Dupont </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {% block stylesheets %}
        <link href="{{ asset('css/style.css')}}" type="text/css" rel="stylesheet">
        {% endblock %}

        <p align="center">
            Louis Dupont
        </p>

    </head>

    <body>
        <a href="http://127.0.0.1:8000/projet1">
            <img class="left" style="top: 120px" src="{{ asset('ImageSite/sitelouis.jpg') }}" alt="livre graphique" />
        </a>
            <img class="left" style="top: 820px" src="{{ asset('ImageSite/im.jpg') }}" alt="livre graphique" />
        <img class="left" style="top: 1520px" src="{{ asset('ImageSite/photo.jpg') }}" alt="livre graphique" />
        <img class="right" style="top: 120px" src="{{ asset('ImageSite/obj.jpg') }}" alt="livre graphique" />
        <img class="right" style="top: 820px" src="{{ asset('ImageSite/livre.jpg') }}" alt="livre graphique" />
        <img class="right" style="top: 1520px" src="{{ asset('ImageSite/gregstrong.jpg') }}" alt="livre graphique" />
        <p>
            <a class="work">Work</a>

            <a class="contact" href="http://127.0.0.1:8000/contact">
                contact
            </a>
        </p>
    </body>
    </html>