
{% include "page/template.html.twig" %}
{% block content %}
    <a href={{path("Projet", { projet : 'projet1'})}}>
        <img class="left" style="top: 120px" src="{{ asset('ImageSite/sitelouis.jpg') }}" alt="livre" />
    </a>
    <a href={{path("Projet", { projet : 'projet2'})}}>
        <img class="left" style="top: 820px" src="{{ asset('ImageSite/im.jpg') }}" alt="stronger" />
    </a>
    <a href={{path("Projet", { projet : 'projet3'})}}>
        <img class="left" style="top: 1520px" src="{{ asset('ImageSite/photo.jpg') }}" alt="photo" />
    </a>
    <a href={{path("Projet", { projet : 'projet4'})}}>
        <img class="right" style="top: 120px" src="{{ asset('ImageSite/obj.jpg') }}" alt="obj" />
    </a>
    <a href={{path("Projet", { projet : 'projet5'})}}>
        <img class="right" style="top: 820px" src="{{ asset('ImageSite/livre.jpg') }}" alt="livre classique" />
    </a>
    <a href={{path("Projet", { projet : 'projet6'})}}>
        <img class="right" style="top: 1520px" src="{{ asset('ImageSite/gregstrong.jpg') }}" alt="greg" />
    </a>
{% endblock %}

    </html>
